@{
    ViewData["Title"] = "WARNING:ERROR";
}

<h1>                    </h1>
<style>
    .center {
        text-align: center;
        border: 1px solid gray;
    }
</style>
<div class="text-center" style="margin-bottom: 40px;">
    <h1 style="font-size: 2.5em; font-weight: bold; color: red; font-family: Ubuntu, sans-serif;">@ViewData["Title"]</h1>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Lora">
    <p style="font-size: 1.5em; color: gray; font-family: Poppins;">
        Only .pdf, .docx, or .xlsx files are allowed to be submitted. Please try again.
    </p>
</div>